<h1>Angular Multi Step Form With Validation</h1>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basic Details</ng-template>
      <section class="form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Age" formControlName="age" type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Address" formControlName="address" rows="1">
    </textarea>
        </mat-form-field>
      </section>
      <div class="button-section">
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Amount & Stock</ng-template>
      <section class="form">

        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>

          <input matInput placeholder="Amount" formControlName="amount" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="stock">
          <mat-label>Stock</mat-label>

          <input matInput placeholder="Stock" formControlName="stock" />
        </mat-form-field>
      </section>
      <div class="button-section">
        <button mat-raised-button matStepperPrevious color="disabled">Back</button>
        <button matStepperNext mat-raised-button color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <h3 color="primary">Preview </h3>

    <mat-list>
      <mat-list-item>
        <strong>Name:</strong>
        {{ this.firstFormGroup.value.name }}</mat-list-item>
      <mat-list-item>
        <strong>Age:</strong>
        {{ this.firstFormGroup.value.age }}</mat-list-item>

      <mat-list-item>
        <strong>Address:</strong>
        {{ this.firstFormGroup.value.address }}</mat-list-item>

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.secondFormGroup.value.amount }}</mat-list-item>

      <mat-list-item>
        <strong>Stock:</strong>
        {{ this.secondFormGroup.value.stock }}</mat-list-item>
    </mat-list>

    <div class="button-section">
      <button mat-raised-button matStepperPrevious color="disabled">Back</button>

      <button mat-raised-button (click)="stepper.reset()" color="accent">Reset</button>

      <button mat-raised-button (click)="submit()" color="primary">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>